<nav role="navigation" class="navbar navbar-default navbar-fixed-top" ng-controller="HeaderCtrl">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="javascript:void(0)" class="navbar-brand hidden-xs">SomeCode</a>
        <snippet-search></snippet-search>
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:void(0)" id="username" ng-if="isAuthenticated()">{{username}}</a></li>
            <li><a href="javascript:void(0)" id="signin" ng-if="!isAuthenticated()" ng-click="showSignin()">Sign In</a></li>
            <li><a href="javascript:void(0)" id="signout" ng-if="isAuthenticated()" ng-click="logout()">Log Out</a></li>
            <li><a href="javascript:void(0)" id="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        </ul>
    </div>
</nav>

<div class="modal fade signinModal" tabindex="-1" role="dialog" ng-controller="HeaderCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <h2>Sign In</h2>
            <a href="javascript:void(0)" ng-click="authenticate('facebook')">
                <div class="signinButton facebookButton">
                    <i class="fa fa-facebook-square"></i>
                    <p>Sign in with Facebook</p>
                </div></a>
            <a href="javascript:void(0)" ng-click="authenticate('twitter')">
                <div class="signinButton twitterButton">
                    <i class="fa fa-twitter-square"></i>
                    <p>Sign in with Twitter</p>
                </div></a>
            <a href="javascript:void(0)" ng-click="authenticate('google')">
                <div class="signinButton googleButton">
                    <i class="fa fa-google-plus-square"></i>
                    <p>Sign in with Google</p>
                </div></a>
        </div>
    </div>
</div>
