<div class="snippetPopup">
    <button type="button" class="btn btn-danger btn-xs layout snip-it">Snip it</button>
    <button type="button" class="btn btn-default btn-xs layout toggleLineWrap"
            ng-style="wrapStrikeStyle" ng-click="toggleLineWrap()">Wrap</button>
    <button type="button" class="btn btn-default btn-xs layout toggleScroll"
            ng-style="scrollStrikeStyle" ng-click="toggleScroll()">Scroll</button>
    <button type="button" class="btn btn-default btn-xs layout toggleLineNumbers"
            ng-style="lineNumberStrikeStyle" ng-click="toggleLineNumbers()">Line #</button>
    <div class="layout snippetRowLayout" ng-click="setLayout('row')">
        <span class="fa fa-minus-square-o fa-2x"
              ng-class="{'active':layout === 'row'}"></span>
    </div>
    <div class="layout snippetColLayout hidden-xs" ng-click="setLayout('column')">
        <span class="fa fa-minus-square-o fa-rotate-90 fa-2x"
              ng-class="{'active':layout === 'column'}"></span>
    </div>
    <div class="layout snippetTitleOnlyLayout" ng-click="setLayout('titlesonly')">
        <span class="fa fa-square-o fa-2x"
              ng-class="{'active':layout === 'titlesonly'}"></span>
    </div>
    <div ng-if="isSnippetOwnedByCurrentUser(snip.creator_id)" class="layout snippetEdit" ng-click="snippetEdit(snip)">
        <span class="fa fa-pencil-square-o fa-2x"></span>
    </div>
    <div ng-if="isSnippetOwnedByCurrentUser(snip.creator_id)" class="layout snippetDelete" ng-click="snippetDelete(snip)">
        <span class="fa fa-times fa-2x"></span>
    </div>
</div>

