<!DOCTYPE html>
<html lang='en' ng-app="SomeCodeApp" ng-strict-di>
<head>
    <!--For iOS devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/combined-87808591.css"/>
    <meta charset='UTF-8' />
    <title>SomeCode App</title>
</head>

<body ng-controller="SomeCodeCtrl">
    <div ng-include src="'./static/components/header/header.html'"></div>
    <div ng-view></div>

    <div>
        <script src="./../static/combined-c94c989c.js"></script>
    </div>
</body>
</html>
